DATABASE_URL="postgresql://todo_user:secure_todo_password@localhost:5432/secure_todo_app?schema=public"
NEXTAUTH_SECRET="your-secure-random-secret-key-at-least-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"
